.vscode/**
.vscode-test/**
.claude/**
out/**
node_modules/**
src/**
.gitignore
.git/**
.github/**
.yarnrc
esbuild.js
vsc-extension-quickstart.md
*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
